*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: sans-serif;
}
body{
    background-color: #2c2c2c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    position: relative;
    /* display: flex;
    flex-direction: column;
    display: inline; */
}
.clock {
    height: 390px;
    width: 390px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    border-color: aliceblue;
    text-align: center;
    font-size:25px;
    border: 4px solid rgba(255, 255, 255, 0.056) ;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.356),
    inset -5px -5px 15px rgba(0,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1{
    position: absolute;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border-style:dashed;
    border: 2px solid rgba(9, 8, 8, 0.25) ;

}
.circle2{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: dotted;
    border: 2px solid rgba(9, 8, 8, 0.25) ;

}
.circle3{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: dotted;
    border: 2px solid rgba(9, 8, 8, 0.25) ;

}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 12px;
    font-size: larger;
}
.clock::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    border-radius: 8px;
 width: var(--w);
 height: var(--h);
}
#time{
margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 500;
    border: 4px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,255,255,0.2);
}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after

{
    content: ":";
position: absolute;
right: -4px;}
#time div:last-child{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate{
    0%
{
    opacity: 1;
}
50%
{
    opacity: 0 ;
}}